.transactionHistory {
    border-collapse: collapse;
    font-size: 12px;
}

.transactionHistory th{
    background-color: aqua;
    color: azure;
}

.transactionHistory th,
.transactionHistory td {
    padding: 16px;
    border: 1px solid #212121;
}

.transactionHistory tr:nth-child(2n){
background-color: rgba(0, 255, 255, 0.504);
}